<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/header') %>
    <title>FORMIK | Home</title>
    
</head>
<body>

    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <div class="container">
        <h1>Home Page</h1>

    </div>


    
</body>
</html>