* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* =============  Scrollbar starts  ============= */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(233, 233, 233);
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(255, 179, 179);
}
/* =============  Scrollbar ends  ============= */




body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}


.all-post-div {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
  row-gap: 2rem;
  column-gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;

}
.single-post-div {
  background-color: rgb(255, 232, 232);
  display: flex;
  flex-direction: column;
  width: 15rem;
  border-radius: 5px;
  /* padding: 1rem 2rem; */
}
.single-post-div h3 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(255, 179, 179);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
}
.single-post-div p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  
}
.buttons {
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.buttons button:nth-child(1) {
  margin-right: 0.5rem;
}
.buttons button{
  padding: 0.4rem 0.7rem;
  background-color: rgb(255, 179, 179);
  border: none;
  outline: none;
  border-radius: 3px;
  
}
.buttons button:hover {
  background-color: rgb(251, 153, 153);
  transition: all 0.2s ease;
  cursor: pointer;

}


.createPost {
}
.createPost form {
  display: flex;
  flex-direction: column;
  /* background-color: teal; */
  padding: 2rem 0;
  padding-bottom: 0 !important;
  
}
 form {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;

}

 form input,
form textarea {
  width: fit-content;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(255, 224, 224);
  background-color: rgb(255, 245, 245);
  
}
.createPost form button {
  margin-bottom: 1rem;

}
button {
  padding: 0.4rem 0.7rem;
  outline: none;
  border: none;
  background-color: rgb(255, 179, 179);
  border-radius: 5px;
}
button:hover {
  background-color: rgb(251, 153, 153);
  transition: all 0.2s ease;
  cursor: pointer;
}

.modal {
  position: absolute;
  background-color: yellow;
  padding: 2rem 4rem;
  width: fit-content;
  align-self: center;
  margin: auto;
  border-radius: 5px;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .buttons {
  margin: 1rem 0;  
  gap: 1rem;
}

.all-post-div {
  /* background-color: yellow; */
  position: relative;
}






